        
.polaroid {
    margin: auto;
    width: 100%;
}
 
.polaroid img {
  border: 20px solid #fff;
  border-bottom: 90px solid #fff;
  -webkit-box-shadow: 6px 6px 6px #777;
     -moz-box-shadow: 6px 6px 6px #777;
          box-shadow: 6px 6px 6px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font-family: "Indie Flower", cursive;
  color: #777;
  font-weight: bold;
  font-size: 20px;
}

body {
    background-color: #7A9A95;
  }
      section {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
